-
	const SOCIALS = [
		{icon: "vk", text: "Мы ВКонтанте", link: "https://vk.com/htmlacademy",
			width: 24, height: 24 },
		{icon: "telegram", text: "Наш Телеграм", link: "https://t.me/htmlacademy",
			width: 24, height: 24 },
		{icon: "youtube", text: "Наш Ютуб канал", link: "https://www.youtube.com/user/htmlacademyru",
			width: 24, height: 24},
	]

footer.footer
	a._tag.link(href="https://www.instagram.com/explore/tags/visitsedona/") #visitSedona
	ul._socials
		each social in SOCIALS
			li
				a(href=social.link)._social
					-const iconTitle = social.icon + '-title'
					svg(fill="currentColor", aria-labelledby=iconTitle, role="img", width=social.width, height=social.height)
						title(id=iconTitle)=social.text
						use(href=`img/sprite.svg#${social.icon}`)

	small
		a._copyright.link(href="https://htmlacademy.ru/")="Разработано "
			svg(width=27 height=35 fill="currentColor" role="img" aria-labelledby="htmlacademy-title")
				title#htmlacademy-title HTML Академией
				use(href="img/sprite.svg#academy")
