-
	const EXTRA_FEATURES = [
		{
			title: "Жилье",
			description: "Рекомендуем пожить в настоящем мотеле, всё как в кино!",
			icon: "housing"},
		{
			title: "Еда",
			description: "Всегда заказывайте топовый фирменный бургер, вы не разочаруетесь!",
			icon: "eating"},
		{
			title: "Сувениры",
			description: "Не только китайского, но и настоящего местного производства!",
			icon: "souvenir"}
	]
	const FEATURES = [
		{
			title: "Настоящий городок",
			description: "Седона — не аттракцион для туристов, там течёт своя жизнь", accent: true,
			image: {
				src: 'img/photo-1.jpg',
				alt: "Уютная площадь в небольшом городишке."
			},
			extra: EXTRA_FEATURES
		}, {
			title: "Там есть мост дьявола",
			description: "Да, по нему можно пройти! Если вы осмелитесь, разумеется", accent: true,
			image: {
				src: 'img/photo-2.jpg',
				alt: "Обтёсанный природой каменный мост сквозь ущелье"
			}
		}, {
			title: "Небольшая площадь",
			description: "Все достопримечательности находятся очень близко"
		}, {
			title: "Красивая дорога",
			description: "Ехать в Седону из Лас-Вегаса совсем не скучно!"
		}, {
			title: "Мало туристов",
			description: "Большинство едет в Гранд Каньон и толпится там"
		}]

section.features
	h2.visually-hidden Преимущества
	p._intro
		strong.subheading._title Седона — небольшой городок в Аризоне, заслуживающий большего!
		|  Рассмотрим 5 причин, по которым Седона круче, чем Гранд Каньон!
	ol._list
		each feature, index in FEATURES
			if feature.image
				li._panorama
					figure._figure(
						class=`${index !== 0 ? 'features__figure--reverse' : ''}`
					)
						figcaption.feature.-order.-order.label
							h3.caption= feature.title
							p._description= feature.description

						img(
							src=feature.image.src,
							alt=feature.image.alt
							width=800
							height=384
						).features__picture
					if feature.extra
						ul._list.-sub
							each subitem in feature.extra
								li.feature.label._item
									h4.caption= subitem.title
									svg._icon(fill='#83B3D3' aria-hidden="true", width=75, height=75)
										use(href=`img/feature.svg#${subitem.icon}`)

									p._description= subitem.description
			else
				li.feature.-order.label._item
					h3.caption=feature.title
					p._description=feature.description
