section.filters
	h1.heading._title Гостиницы Седоны

	ol.breadcrumb._breadcrumb
		li
			a(href="index.html")._link
				svg(fill="currentColor", width=15, height=15, role="img", aria-labelledby="home-title")
					title#home-title Главная
					use(href='img/interface.svg#home')
		li Гостиницы

	form._form(method="GET", action="https://echo.htmlacademy.ru/")
		fieldset._field.label
			legend.legend._legend Инфраструктура

			-const INFRASTRUCTURE = { pool: "Бассейн", parking: "Парковка", "wi-fi": "Wi-Fi" }

			each text, value in INFRASTRUCTURE
				label.custom-chose
					input(type="checkbox", name="infrastructure", id=value,
						value=value, checked= value!=="wi-fi").visually-hidden._native
					span._text.-checkbox=text

		fieldset._field.label
			legend.legend._legend Тип жилья

			-const TYPE_HOUSE={ hotel: "Гостиница", motel: "Мотель", apartments: "Апартаменты" }
			each text, value in TYPE_HOUSE
				label.custom-chose
					input(type="radio", name="type", id=value,
						value=value, checked= value==="hotel").visually-hidden._native
					span._text.-radio=text


		fieldset._field.label
			legend.legend._legend Стоимость, ₽

			-const SLIDER = { min: 0, max: 11000, values: [0, 9000], step: 100 };
			p.double-number.label._cost
				each label, index in ['от', "до"]
					label._label=label
						input._input(type="number", value=SLIDER.values[index], min=SLIDER.min, max=SLIDER.max)

			p.range-slider(
				style=`--first-val: ${(SLIDER.values[0] * 100) / (SLIDER.max - SLIDER.min)}%; --second-val: ${(SLIDER.values[1] * 100) / (SLIDER.max - SLIDER.min)}%;`
				)
				each label, index in ["Минимальная", "Максимальная"]
					input._input(
						type="range",
						min=SLIDER.min,
						max=SLIDER.max,
						value=SLIDER.values[index],
						step=SLIDER.step,
						aria-label=label + " цена"
					)

		menu._buttons
			li
				button.button._submit Применить
			li
				button(type="reset")._reset.button Сбросить
