-
	const PHOTOS = [
		{title: "Неродные просторы", author: "Борис", likes: 1350, alt: "Закат, трасса"},
		{title: "Местная растительность", author: "Сергей", likes: 143, alt: "Цилиндропунция на фоне каньона"},
		{title: "Дорога на север", author: "Петр", likes: 96, alt: "Дорожный серпантин"},
		{title: "Мост дьявола", author: "Антон", likes: 254, alt: "Каменный мост"},
	]

section.gallery
	h1._title.page__title Фото и видео
	p._subtitle Не можете решиться на путешествие из-за курса? Фотографии помогут вам забыть о политике и экономике.

	div._list
		each photo, index in PHOTOS
			figure.photo._post
				figcaption._info
					h3._title=photo.title
					p._author=`Автор фото: ${photo.author}`
					button._like(type="button" aria-label="Поставить лайк" aria-description=`Всего лайков ${photo.likes}` value=photo.likes, aria-pressed="false")
						svg(width=24, height=22, aria-hidden, fill="currentColor")
							use(href="img/sprite.svg#like")
				+responsiveImage({
					source: `img/photos/photo-${index + 1}`, mainExt: "jpg",
					className: "photo__image", pictureClass: "photo__picture",
					alt: photo.alt,
					width: 280,
					suffixes :  ["desktop", "tablet", "mobile"], extensions: ["avif", "webp"], sizes: [2, 3],
					medias: ["min-width: 600px", "min-width: 1000px"]
				})
