
-
	const IMPRESSIONS = {
		positive: "Скорее положительное",
		negative: "Скорее отрицательное",
		unknown: "Затрудняюсь ответить"
	}, PLACES = {
		bridge: "Мост Дьявола",
		mountain: "Гора-Колокол",
		park: "Слайд-парк",
		rocks: "Красные скалы"
	}

form.form(method='post' action="https://echo.htmlacademy.ru/")
	h1._title.page__title Оставьте свой отзыв
	p._subtitle Помогите нашим отелям стать лучше! Оставьте отзыв о них, а также о посещенных вами достопримечательностях
	fieldset._field.-personal
		legend._legend Представьтесь
		label.input
			span._label Имя
				a(href="#required" aria-hidden="true" tabindex=-1).form__required *
			input._field(type='text' name='first-name' value='Пётр' required)

		label.input
			span._label Фамилия
				a(href="#required" aria-hidden="true" tabindex=-1).form__required *
			input._field(type='text' name='last-name' value='Пустота' required)

		label.input
			span._label Отчество
			input._field(type='text' name='patronymic' value='Викторович')

	fieldset._field.-contact
		legend._legend Контактная информация
		label.input
			span._label Контактный телефон
				a(href="#required" aria-hidden="true" tabindex=-1).form__required *
			span._wrapper
				input._field.-icon(type='tel' name='telephone' placeholder='Введите телефон' required)
				svg._icon(width=18 height=18 fill="#010101" aria-hidden="true")
					use(href="img/sprite.svg#phone")

		label.input
			span._label Электронная почта
				span(aria-hidden="true") *
			span._wrapper
				input._field(type='email' name='email' placeholder='Введите e-mail' required)
				svg._icon(width=18 height=18 fill="#010101" aria-hidden="true")
					use(href="img/sprite.svg#mail")

	fieldset._field.-impression
		legend._legend.-full Ваше общее впечатление
		p._radios
			each text, value in IMPRESSIONS
				label.custom-chose
					input._native.page__hidden(type='radio' name='impression' value=value checked=value === 'positive')
					span._custom.-radio=text

	fieldset._field.-places
		legend._legend.-full Посещенные достопримечательности
		p._checkboxes
			each text, name in PLACES
				label.custom-chose
					input._native.page__hidden(type='checkbox' name=name checked=name !== 'rocks')
					span._custom.-check=text

	fieldset._field.-emotions.input
		legend._legend.-full#textarea-label Опишите свои эмоции

		textarea.input__field.-area._area(name="" cols="30" rows="10" placeholder='Опишите подробно все свои восторги' aria-labelledby="textarea-label")

	p._footer
		button._submit.button(type='submit') Отправить отзыв
		small._note#required * — обязательные поля
